/*input{
  border-radius: %;
}
*/


#LogIn{
  justify-self: center;
  
  font-size: 6vw;
  line-height: 40vh;
  grid-area: LogIn;
  color: orange;
  font-family: Georgia, 'Times New Roman', Times, serif;


  

}



#name{
  justify-self: center;
  width:37vw;
  grid-area: name;
  height: 80px;
  border: groove;
  height:5vh;
}

#password{
  justify-self: center;
  grid-area: password;
  width:37vw;
  height: 80px ;
  border: groove;
  height:5vh;
  
  
}

#submit{
  grid-area: submit;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  color: #FFFFFF;
  justify-self: center;
  width: 38vw;
  height:5vh;
  
  
}

#container{
  justify-self: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: 40vh auto 3vh auto 3vh 40vh;
  grid-template-areas: 
  ". LogIn ."
  ". name ."
  ". . ."
  ". password ."
  ". . ."
  ". submit .";
}

form{
  display: grid;
  
}


html{
  background: #f9f9f9;
}

@media only screen and (max-width: 400px)
{
  
    #LogIn{
      justify-content: center;
      font-size: 8vh;
      
    }

    #name{
      width: 70vw
    }
    #password{
      width: 70vw
    }
    #submit{
      width: 70vw
    }

} 











































/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
