


#LogIn{
  justify-self: center;
  
  font-size: 6vw;
  line-height: 40vh;
  grid-area: LogIn;
  color: orange;
  font-family: Georgia, 'Times New Roman', Times, serif;


  

}



#name{
  justify-self: center;
  width:37vw;
  grid-area: name;
  height: 80px;
  border: groove;
  height:5vh;
}

#password{
  justify-self: center;
  grid-area: password;
  width:37vw;
  height: 80px ;
  border: groove;
  height:5vh;
  
  
}

#submit{
  grid-area: submit;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  color: #FFFFFF;
  justify-self: center;
  width: 38vw;
  height:5vh;
  
  
}

#container{
  justify-self: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: 40vh auto 3vh auto 3vh 40vh;
  grid-template-areas: 
  ". LogIn ."
  ". name ."
  ". . ."
  ". password ."
  ". . ."
  ". submit .";
}

form{
  display: grid;
  
}


html{
  background: #f9f9f9;
}

@media only screen and (max-width: 400px)
{
  
    #LogIn{
      justify-content: center;
      font-size: 8vh;
      
    }

    #name{
      width: 70vw
    }
    #password{
      width: 70vw
    }
    #submit{
      width: 70vw
    }

    

} 


h2{
  margin-left: 43vw;
  margin-top: 7vw;
}
.AddTaskPopUp{
  display: grid;
  margin-top: 100px;
  margin-left: 40vw;
  
}


input{
  margin-bottom: 10px;
  width: 30%;
  height: 10px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: gray;
  outline:none;
  font-size: 13px;
  
}

#Cancel{
  width: 4vw;
  height: 2vw;
  background-color:gray;
  margin-top: 20px;
  margin-left: 3vw;
  border-radius: 5px;
}

#Save{
  width: 4vw;
  height: 2vw;
  margin-left: 2vw;
  background-color: cornflowerblue;
}


  
button{
  border-radius: 50%;
  background-color:rgb(105, 105, 231);
  width: 3vw;
  height: 3vw;
  text-align: center;
  margin-left: 13vw;
  margin-top: 2vw;
  font-size: 130%;
  outline: none;
}