.points{
    color:black;
}

#savee{
    margin-right: 13vw;
  }
  
  #cancell{
    margin-right: 5vw;
  }

   

.plusBtn{
  position: absolute;
  bottom: 1em;
  right: 1em; 
}

.tasksMappedContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

@media only screen and (max-width: 1200px){
  .tasksMappedContainer{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px){
  .tasksMappedContainer{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 520px){
  .tasksMappedContainer{
      grid-template-columns: repeat(1, 1fr);
  }
}

.taskTitle{
  font-family: Avenir-Black;
  font-size: 5.5vh;
  color: #000000;
  text-align: center;
  margin-top: 2em;
  padding-bottom:0.5em;
}

.pointsHolder{
  position: absolute;
  bottom: 1em;
  left: 1em; 
}