.subInfo{
    border: 1px solid #DC7070;
    border-radius: 6px;
    font-family: Avenir-Light;
    font-size: 2.5vh;
    color: #8C8787;
    text-align: center;
    padding: 0.5em;
    margin-left: 1em;
    
}

.aTask{
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    padding: 1em;
    font-family: Avenir-Book;
    font-size: 3.5vh;
}

.subInfoContainer{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.twoBtns{
    display: flex;
    justify-content: space-between;
    margin-right:1em;
}
.taskResetBtn{
    background: #F04242;
    border-radius: 13.5px;
     
    font-family: Avenir-Light;
    font-size: 2.8vh;
    color: #000000;
    text-align: center;

    margin-left: 1em; 
    padding: 0.2em;
}