
.task{
    display: flex; 
    justify-content: center;
    font-family: Avenir-Light;
    color: black;
    margin-left: 1em;
    float:left;
    margin-top: 1em;
}

.taskBig{
    font-size: 1.5vw;
}
.taskSmall{
    font-size: 1vw;
}
 

.checkBox{
    background-color: white;
    border: 1px solid #DC7070;
    border-radius: 6px;
    font-family: Avenir-Light;
    font-size: 1em;
    color: #DC7070;
    text-align: center;
    width: 1em;
    height: 1em;
    
}
 

.containers{
    display: grid;
    margin-top: 100px;
    margin-left: 40vw;
}


input{
    margin-bottom: 10px;
    height: 3vw;
    
}

/*#Cancel{
     width: 5vw;
    background-color:gray;
    margin-top: 20px;
    margin-left: 4vw;
    
    border-radius: 5px;

}

#Save{
    width: 5vw;
    border-radius: 5px;
    margin-top: 1vw;
    margin-left: 4vw;
    background-color: cornflowerblue;

}
*/
 
.x{
    font-family: DFWaWaSC-W5;
    font-size: 15vw;
    color: #FFFFFF;
     
    
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#TitleAddTask{
    text-align: center;
    font-weight: 600;
    margin-top: 200px;
    font-size: 4.5mm;
}

.container{
    
    text-align: center;
    position: relative;
    right: 50%;
}

.modal-body{
    grid-template-columns: 25% auto 25% ;
    
}

.modal-footer{
  display: flex;
  justify-content: flex-start !important;
  
}




#Title{
    border: 1px solid rgb(90, 90, 219);
    grid-column-start: 2 ;
    width: 100%;
    padding: 4%;
    
}
#Points{
    border: 1px solid rgb(90, 90, 219);
    grid-column-start: 2 ;
    width: 100%;
    padding: 4%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 35vw;
}



#savee{
      
 margin-right: 10vw;
}

#cancell{
 margin-right: 7vw;
}


.subInfo{
    border: 1px solid #DC7070;
    border-radius: 6px;
    font-family: Avenir-Light;
    font-size: 2.5vh;
    color: #8C8787;
    text-align: center;
    padding: 0.5em;
    margin-left: 1em;
    
}

.aTask{
    display: flex;
    flex-direction: column;
}

.subInfoContainer{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.twoBtns{
    display: flex;
    justify-content: space-between;
    margin-right:1em;
}
.taskResetBtn{
    background: #F04242;
    border-radius: 13.5px;
     
    font-family: Avenir-Light;
    font-size: 2.8vh;
    color: #000000;
    text-align: center;

    margin-left: 1em; 
    padding: 0.2em;
}