.leader{
    border-bottom: solid 1px grey;
    margin-bottom: 5vh;
    justify-content: center;

    font-family: Avenir-Book;
    font-size: 3vh;
    color: #000000;
    padding-bottom: 1em;
    padding-top: 1em;
}

.leaderMe{
    border-bottom: solid 1px grey;
    margin-bottom: 5vh;
    justify-content: center;

    font-family: Avenir-Book;
    font-size: 3vh; 
    padding-bottom: 1em;
    padding-top: 1em; 
    
    color: #DC7070;
}

.crown{
    height: 7vh;
    float:right;
    margin-right:1em;
}
