.group{
    text-align: center;
    padding-top: 1.5em; 
    padding-bottom: 1.5em; 
    margin:1em; 

    background: #DCA162;
    border-radius: 15px;
    font-family: Avenir-Book;
 
    opacity: 60%;
}

.group:hover{
    color: gray;
    box-shadow: 5px 5px;
    cursor: pointer;
}

.groupName{
    float:left;
    margin-left:0.8em;
    font-size:  3.4vh;
    font-family: Avenir-Book;
    color: #000000;
}

.rightBox{
    background: white;
    border-radius: 0 13px 13px 0;
    opacity: 100%;
    
}

/* .subInfo{
    size: 0.5 vh;
    color: black
} */


