.groupPageTitle{
    font-family: Avenir-Black;
    font-size: 2.5em;
    text-align: center;
    margin: 1.2em; 
    color: #000000;
}

.groupButtons{ 
    display: flex;
    justify-content: space-around; 
    margin: 2em; 
}

.groupContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
}

@media only screen and (max-width: 1200px){
    .groupContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 800px){
    .groupContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 520px){
    .groupContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* .addGroupButton{
    margin-left: 80vw;
} */

.joinGroupForm{ 
    justify-content: center;
    display: flex;
    flex-direction: column
}

.joinBtn{
    opacity: 0.6;
    background: #F04242;
    border-radius: 22.5px;
    font-family: Avenir-Book;
    font-size: 3vh;
    color: #000000;
    height: 8vh;
    width: 7em;
}

.createBtn{
    background: #A7E59D;
    border-radius: 22.5px;
    font-family: Avenir-Book;
    font-size: 3vh;
    color: #000000;
    height: 8vh;
    width: 7em;
    
}

.joinScreen{
    border: 3px solid black;
    background: white;
    height: 50vh;
    width: 15em;
    position: absolute; 
    border-radius: 8px;
    margin: 0 auto; 
     
    
}

.groupID{
    border: 1px solid black;
    height: 5vh;
    width: 10em;
    border-radius: 9px;
}

.groupIDlabel{
    height: 5vh;
    width: 10em;
    opacity: 0.8;
    font-family: Avenir-Light;
    font-size: 3vh;
    color: #000000;
    text-align: left;
    margin:0 auto; 
}

.submitBtn{
    height: 5vh;
    width: 10em;
    background: #A7E59D;
    margin: 2em;
}

.cancelJoinBtn{
    height: 5vh;
    width: 10em;
    background: #F04242;
    margin-left: 2em;
    margin-right: 2em;
}
#Code{
    width:100%;
    border: 1px solid rgb(90, 90, 219);
    padding: 4%;
}